:root {
    --clr_bkg: rgb(21, 2, 36);
    --clr_gradiente: rgb(21, 2, 36), rgb(40, 2, 70);
    --clr_blanco: rgb(255, 255, 255);
    --clr_font_title: #a3a3a3;

    --brd_rad: 0.3em;
    --brd_btn: 50%;

    --ff-body: 'DM Serif Display', serif;
    --ff-title: 'Poppins', sans-serif;
   
}


body {
    margin: 0 auto;
    padding: 0;
    background: linear-gradient(to right, rgba(34, 8, 59, 0.4), rgba(0, 0, 0, 0.8)), url('../asstes/bg_contacto_uno.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    min-height: 100vh;
    
    font-family: var(--ff-body);
    font-size: 16px;
    color: var(--clr_font_title);
    scroll-behavior: smooth;
}


.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.form__container{
    background-color: rgba(34, 38, 42,0.8); 
    border-collapse: collapse;
    min-width: 40vw;
    max-width: 50vw;
    padding: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.5rem;
}

.form__title{
    width: 100%;
    margin: 0;
    text-align: center;
}

.form__group{
    padding: 10px 0;
    
    display: flex;
    flex-flow: row wrap;

    width: 50%;
    justify-content: space-between;
}

.form__id{
    background-color: transparent;
    border: none;
    color: var(--clr_font_title);
    width: auto;
}

.modificar{

    margin: 5px 0;
    padding: 8px 32px;
    color: #a3a3a3;
    background-color: #212121;
    border: 0.08em solid #494949;
    box-shadow: 0 0.4em 0.1em 0.010em rgb(54, 31, 92);
    border-radius: var(--brd_rad);
    font-size: 16px;
}


.modificar:hover{
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #c0bfbf;
}

@media (max-width: 800px) {
 
    .form__group{
        width: 100%;
    }
}


