:root {
    --clr_bkg: rgb(21, 2, 36);
    --clr_gradiente: rgb(21, 2, 36), rgb(40, 2, 70);
    --clr_blanco: rgb(255, 255, 255);

    --brd_rad: 0.3em;
    --brd_btn: 50%;

    --ff-body: 'DM Serif Display', serif;
    --ff-title: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--clr_bkg);
    max-width: 1200px;
    margin: auto;

    font-family: var(--ff-body);
    color: var(--clr_blanco);

}

h2, h3{
    color: #a3a3a3;
    text-shadow: 5px 4px 3px rgb(103, 66, 163);
}



.header {
    color: white;
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    justify-content: center;
    background-color: var(--clr_bkg);
    padding: 10px;
    margin: auto;
}

.header__logo,
.ftrSup__logo {
    width: 100px;
    height: 55px;
    padding-left: 20px;
}

.header__ul {
    display: flex;
    justify-content: end;

}

.header__li {
    list-style: none;
}

.header__a {
    text-decoration: none;
    color: inherit;
    padding: 0 20px;
}

/*--------------------------Carrosule--------------------------------*/

.carrousel-2 {
    position: relative;

}

.carrousel-2__h3 {
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
}

.wrapper {
    width: 90%;
    margin: 50px auto;

    overflow: hidden;
}

.grande-2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    gap: 16px;

    align-items: center;
    justify-content: center;

    width: 200%;
    padding: 0 8px;
    transition: transform .5s ease;
}

.img-2 {display: block;}

.lgt {display: none;}


.lgt-isActive {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.lgt__close {
    position: absolute;
    top: 0;
    right: 50px;

    width: 50px;
    height: 50px;

    color: var(--clr_blanco);
    cursor: pointer;
    z-index: 1;
}

.lgt__iframe {
    position: absolute;
    top: 0;
    left: calc(50vw - 35vw);

    width: 100%;
    height: 100%;
}


.lgt__iframe-2 {
    width: 70vw;
    height: 70vh;
    max-width: 900px;
}



/*--------------------------BOTONES---------------------*/

.nav-btn-movies {
    position: absolute;
    top: 50%;
    width: 100%;
    
}

.flecha {
    position: absolute;
    width: 4em;
    height: 4em;
    color: #a3a3a3;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #212121;
    border: 0.08em solid #494949;
    box-shadow: 0 0.4em 0.1em 0.010em rgb(54, 31, 92);
    
    border-radius: var(--brd_rad);
    z-index: 1;
}

.flecha__izq {left: 10px;}

.flecha__der {right: 10px;}

.flecha__izq:hover,
.flecha__der:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #c0bfbf;
}



/*---------------FOOTER---------------------*/

.ftrSup,
.ftrInf {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: var(--clr_blanco);
}

.ftrDiv {
    width: 60%;
    height: 3px;
    border-top: 1px solid black;
    border-bottom: 1px solid gray;
    margin: 50px auto;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
}


.ftrSup__secciones,
.ftrInf__terms,
.ftrInf__redes {

    display: flex;
    flex-flow: row nowrap;
}

.ftrSup__li,
.ftrInf__term,
.ftrInf__red {padding: 15px 10px;}


.ftrInf {margin-bottom: 50px;}


.ftrInf__icon {
    width: 20px;
    height: 20px;
}



/*-------------------MEDIA QUERIES----------------*/
@media (max-width: 720px) {
    .grande-2 {
        width: 250%;
    }
    .flecha {
        width: 3em;
        height: 3em;
    }
}

@media (max-width: 650px) {
    .ftrSup,
    .ftrInf {
        flex-flow: column nowrap;
    }
}

@media (max-width: 500px) {
    .grande-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .ftrSup,
    .ftrInf__terms,
    .ftrSup__secciones {
        flex-direction: column;
        align-items: center;
    }
}