<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ingresar_persona.css">
    <!-- <link rel="stylesheet" href="../css/personas.css"> -->
    <title>Editar suscriptores</title>
</head>
<body>
    <main>
        <section>

            <div class="container">
                <form  class="form__container">

                    <div class="form__group">
                        <label for="id">ID</label>
                        <input class="form__id" type="text" name="id" id="id" disabled>
                    </div>
            
                    <div class="form__group">
                        <label for="email">Nombre</label>
                        <input type="text" name="nombre" id="nombre">
                    </div class="form__group">
                    
                    <div class="form__group">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email">
                    </div>
                    
                    <button class="modificar" type="button" onclick="modificar()">Modificar</button>
                </form>
          
          
              </div>

        </section>
    </main>

    
    <footer></footer>

    <script src="../js/editar_persona.js"></script>
    <!-- <script src="../js/header.js"></script> -->
</body>
</html>