<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ingresar_persona.css">
    <title>Login</title>
</head>
<body>
    <main>
        <section>

            <div class="container">
                <div  class="form__container">

                    <div class="form__group">
                        <h1 class="form__title">Login</h1>
                    </div>
            
                    <div class="form__group">
                        <label for="usuario">Usuario</label>
                        <input type="text" name="usuario" id="usuario">
                    </div class="form__group">
                    
                    <div class="form__group">
                        <label for="contraseña">Contraseña</label>
                        <input type="text" name="contraseña" id="contraseña">
                    </div>
                    
                    <button class="modificar" type="button" id="login">Login</button>
                </div>
          
          
              </div>

        </section>
    </main>

    
   
    <script src="../js/login.js"></script>
    <!-- <script src="../js/header.js"></script> -->
</body>
</html>